/* estilo.css */
.root {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: rgb(249, 112, 0);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.subbutton {
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-alignment: center;
}

.tittle {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.text {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 12px;
    -fx-alignment: center;
}